{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username*</label>
    <input name="username" id="username" required>
    <label for="password">Password*</label>
    <input type="password" name="password" id="password" required>
    <label for="name">Name*</label>
    <input name="name" id="name" required>
    <label for="hometown">Hometown*</label>
    <input name="hometown" id="hometown">
    <label for="twitter">Twitter handle</label>
    <input name="twitter" id="twitter">
    <label for="facebook">Facebook info</label>
    <input name="facebook" id="fb">
    <label for="instagram">Instagram</label>
    <input name="instagram" id="insta">
    <input type="submit" value="Register">
  </form>
{% endblock %}